@import url('https://fonts.googleapis.com/css2?family=Merienda+One&family=Nunito:wght@200;300;400;500;600&display=swap');

$main-color: #117DAC;
$black: #000;
$white: #fff;
$light-color: #666;
$box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
$border: .2rem solid $black;

* {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: uppercase;
}

*::selection {
    background-color: $main-color;
    color: $white;
}


html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6.5rem;

    &::-webkit-scrollbar {
        height: .5rem;
        width: 1rem;
    }

    &::-webkit-scrollbar-track {
        background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $main-color;
    }
}

section {
    padding: 3rem 2rem;
    // padding: 5rem 9%;
    max-width: 1200px;
    margin: 0 auto;
    overflow-x: hidden; // agar tidak ada space di kanan
    overflow-y: hidden;
}

.btn {
    display: inline-block;
    margin-top: 1rem;
    background-color: $main-color;
    cursor: pointer;
    color: $white;
    font-size: 1.8rem;
    padding: 1rem 3rem;

    &:hover {
        background-color: $black;
    }
}

.header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background-color: $white;
    box-shadow: $box-shadow;
    z-index: 1000;

    .flex {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        padding: 1.5rem 6%; // penyesuaian padding navbar

        .logo img {
            height: 4.5rem;
        }

        .navbar a {
            margin-left: 2rem;
            font-size: 1.5rem;
            color: $black;

            &:hover {
                color: red;
            }
        }

        #menu-btn {
            display: none;
            font-size: 2.5rem;
            color: $black;
            cursor: pointer;
        }
    }
}


.home-bg {
    // background: linear-gradient(90deg, $white, transparent 70%), url(../gambar/home.gif) no-repeat;
    background: linear-gradient(90deg, rgba(134, 117, 84, 0.60), transparent 200%), url(../gambar/home.gif) no-repeat;
    background-size: cover;
    background-position: center;

    .home {
        min-height: 70rem;
        display: flex;
        align-items: center;

        .content {
            width: 60rem;

            h3 {
                font-size: 3rem;
                color: $black;
            }

            p {
                padding: 1rem 0;
                font-size: 1.6rem;
                color: $black;
                line-height: 2;
            }
        }
    }
}



.about {
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
    align-items: center;
    min-height: 70rem;

    .image {
        flex: 1 1 40rem;

        img {
            width: 100%;
        }
    }

    .content {
        flex: 1 1 40rem;

        h3 {
            font-size: 3.2rem;
            color: $black;
            padding-bottom: 1rem;
        }

        p {
            padding: 1rem 0;
            line-height: 2;
            color: $light-color;
            font-size: 1.5rem;
            text-transform: none;
        }
    }
}

.visimisi-bg {
    background: url(../gambar/visi-misi.gif) no-repeat;
    background-size: cover;
    background-position: center;

    .visimisi {
        display: flex;
        align-items: start;
        flex-wrap: wrap;
        gap: 4rem;
        min-height: 70rem;

        .content {
            margin-top: 5rem;
            flex: 1 1 40rem;
            padding: 1rem 3rem;
            background-color: #F1EFEF;
            opacity: .8;

            h3 {
                font-size: 3.2rem;
                color: $black;
                padding-bottom: 1rem;
                text-align: center;
            }

            p {
                padding: 1rem 0;
                line-height: 2;
                color: $black;
                font-size: 1.5rem;
                text-transform: none;
            }
        }
    }
}


.prinsip {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 4rem;
    min-height: 70rem;

    .gambar {
        background: url(../gambar/prinsip-kami.gif) no-repeat;
        background-size: cover;
        background-position: center;
        width: 35rem;
        height: 32rem;
        flex: 1 1 40rem;
        position: relative;

        .judul {
            position: absolute;
            padding: 1rem 3rem;
            background-color: #F1EFEF;
            opacity: .9;
            top: 20%;

            h3 {
                font-size: 4rem;
                color: $black;
            }
        }
    }

    .content {
        flex: 1 1 40rem;

        .poin {
            margin: 2rem 0rem;

            h4 {
                font-size: 2.5rem;
            }

            p {
                text-transform: none;
                font-size: 1.2rem;
                line-height: 1.5;
            }
        }
    }
}



// .layanan-bg {
//     background-color: #EEEBE8;

//     .layanan {
//         display: flex;
//         align-items: center;
//         flex-wrap: wrap-reverse;
//         gap: 4rem;
//         min-height: 70rem;

//         .content {
//             flex: 1 1 40rem;

//             h3 {
//                 font-size: 4rem;
//                 margin-bottom: 6rem;
//             }

//             .poin {
//                 margin-top: 4rem;

//                 h4 {
//                     font-size: 2rem;
//                     margin-bottom: .4rem;
//                 }

//                 p {
//                     font-size: 1.2rem;
//                     text-transform: none;
//                     line-height: 1.4;
//                 }
//             }
//         }

//         .gambar {
//             flex: 1 1 40rem;

//             img {
//                 width: 100%;
//                 height: 40rem;
//             }
//         }
//     }
// }
.layanan-bg{
    background-color: #EEEBE8;

    .layanan {
        padding: 10rem 0 10rem 0;
        align-items: center;
        min-height: 70rem;
    
        h3{
            // margin: 0 auto;
            text-align: center;
            font-size: 3.2rem;
            color: $black;
        }
    
        .content-1{
            // align-items: center;
            margin: 10rem 0 10rem 0;
            display: flex;
            flex-wrap: wrap;
            gap: 4rem;
    
            .image {
                flex: 1 1 30rem;
        
                img {
                    width: 100%;
                }
            }
    
            .content {
                flex: 1 1 40rem;
        
                h3 {
                    font-size: 2rem;
                    color: $black;
                    padding-bottom: 1rem;
                    text-align: left;
                }
        
                p {
                    padding: 1rem 0;
                    line-height: 2;
                    color: $black;
                    font-size: 1.5rem;
                    text-transform: none;
                }
            }
        }

        .content-2{
            // align-items: center;
            margin: 10rem 0 10rem 0;
            display: flex;
            flex-wrap: wrap;
            gap: 4rem;
    
            .image {
                flex: 1 1 30rem;
        
                img {
                    width: 100%;
                }
            }
    
            .content {
                flex: 1 1 40rem;
        
                h3 {
                    font-size: 2rem;
                    color: $black;
                    padding-bottom: 1rem;
                    text-align: right;
                }
        
                p {
                    padding: 1rem 0;
                    line-height: 2;
                    color: $black;
                    font-size: 1.5rem;
                    text-transform: none;
                    text-align: right;
                }
            }
        }
        
    }
}
    




.galeri {
    min-height: 70rem;
    padding-top: 10rem;

    h3 {
        font-size: 4rem;
        text-align: center;
        padding-bottom: 5rem;
    }

    .box-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
        gap: 1.5rem;

        .box {
            overflow: hidden;

            img {
                width: 100%;
                object-fit: cover;
            }

            &:hover {
                img {
                    transform: scale(1.2);
                }
            }
        }
    }
}




.kontak-bg {
    background-color: $main-color;

    .kontak {
        display: flex;
        align-items: start;
        flex-wrap: wrap-reverse;
        gap: 4rem;
        min-height: 55rem;

        .content {
            margin-top: 15rem;
            flex: 1 1 40rem;
            padding: 2rem 3rem;
            background-color: $white;

            h4 {
                font-size: 2rem;
            }

            p {
                line-height: 2;
                color: $black;
                font-size: 1.5rem;
                text-transform: none;
                margin-bottom: 1rem;
            }

            h2 {
                font-size: 5rem;
                text-align: start;
            }
        }
    }
}



.klien {
    min-height: 35rem;

    h3 {
        font-size: 4rem;
        text-align: center;
        margin-bottom: 5rem;
    }

    .box-container {
        display: flex;
        flex-wrap: wrap;
        gap: 30rem;

        .box {
            flex: 1 1 10rem;
            overflow: hidden;

            img {
                width: 100%;
            }
        }
    }
}




.bantuan-bg {
    background: linear-gradient(90deg, #B60007, transparent 210%),
        url(../gambar/prinsip-kami.gif) no-repeat;
    background-size: cover;
    background-position: center;

    .bantuan {
        min-height: 20rem;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 4rem;

        .teks {
            flex: 1 1 40rem;

            h3 {
                font-size: 2.5rem;
                color: $white;
            }
        }

        .btn {
            margin-left: auto;
            border-radius: 1rem;
        }
    }

}



.footer-bg {
    background: $main-color;

    .footer {

        .box-container {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: 4rem;

            .box {
                flex: 1 1 30rem;

                h3 {
                    font-size: 2rem;
                    padding: 1.5rem 0;
                    color: $white;
                    text-transform: capitalize;
                }

                a {
                    color: $white;
                    display: block;
                    font-size: 1.4rem;
                    padding: 1rem 0;

                    &:hover {
                        color: #B60007;

                        i {
                            padding-right: 1.5rem;
                            color: $white;
                        }
                    }
                }

                iframe {
                    width: 100%;
                    height: 20rem;
                }
            }
        }

        .credits {
            margin-top: 2.5rem;
            padding: 1rem;
            padding-top: 10rem;
            color: $white;
            text-align: center;
            font-size: 2rem;


            span {
                color: $white;
                text-transform: capitalize;
            }
        }
    }
}



/* media queries  */

@media (max-width:991px) {

    html {
        font-size: 55%;
    }

}

@media (max-width:768px) {

    .header .flex {

        .navbar {
            position: absolute;
            top: 99%;
            left: 0;
            right: 0;
            background-color: $white;
            border-top: $border;
            border-bottom: $border;
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            transition: .2s linear;
        }

        #menu-btn {
            display: inline-block;
            transition: .2s linear;
        }

        #menu-btn.fa-times {
            transform: rotate(180deg);
        }

        .navbar a {
            display: block;
            margin: 2rem;
        }

        .navbar.active {
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        }
    }

    .home-bg {
        background: linear-gradient(90deg, rgba(211, 227, 215, 0.6), transparent 400%), url(../gambar/home.gif) no-repeat;
        background-size: cover;
        background-position: right;

        .home {
            justify-content: center;

            .content {
                text-align: center;
                // text-shadow: 0px .9px #F1EFEF;
                font-weight: bold;

                h3 {
                    color: $black;
                    font-size: 2.5rem;
                }

                p {
                    color: $black;
                    font-size: 1.4rem;
                }

                a {
                    font-size: 1.4rem;
                }
            }
        }
    }

    // .layanan-bg {
    //     .layanan {
    //         .content {
    //             h3 {
    //                 text-align: center;
    //             }
    //         }
    //     }
    // }
    .layanan-bg{

        .layanan{

            .content-1, .content-2{
                padding: 2rem;
    
                .content{
                    h3{
                        text-align: left;
                    }
                }
                
            }
    
            .content-2{
                flex-direction: column-reverse;
                margin-bottom: -20rem;
    
                .content{
                    p{
                        text-align: left;
                    }
                }
            }
    
        }
    }
    

    .kontak-bg {
        .kontak {
            gap: 0;
        }
    }

    .klien {
        .box-container {
            gap: 5rem;
        }
    }


    .bantuan-bg {
        .bantuan {

            .btn {
                margin: auto;
            }
        }
    }

}

@media (max-width:590px) {

    .bantuan-bg {
        .bantuan {
            .teks {
                text-align: center;
            }
        }
    }

}

@media (max-width:450px) {

    html {
        font-size: 50%;
    }

}